/**
 *  Colors
 */
$brandBlack: #323232;
$brandGold: #f8cf43;
$black: #111; // All text, large avatar outlines
$white: #fff; // Background, text and links on a solid color, active navigation tab
$bgColor: #ededed;



$code: #f2f2f2; // <pre>
$codeBorder: #c5c5c2; // <pre>
$textColor: #2B2D32;
$error: #d33120;
$posG: #DE533B;
$posD: #EFBE50;
$posM: #96C060;
$posA: #0060BF;
$ovr1: #8DC153;
$ovr2: #F6BB43;
$ovr3: #E77E23;
$ovr4: #E9573E;
$default: #bfbfbf;
$navyBlue: #203d8a;
$royalBlue: #0567c7;
$paleBlue: #4f9cd4;
$turqouise: #02a098;
$green: #1da155;
$darkGrey: #2c3e50;
$purple: #8e44ad;
$magenta: #a3214b;
$red: #d33120;
$gold: #f39c12;
$navLink: #666666;
$teal: #16c3b9; // Header bar and navigation background color, small links, heavy horizontal rules
$darkTeal: #01aea4; // Header bar and navigation background color, small links, heavy horizontal rules
$violet: #c91b74; // Large links, background colors, button outlines, dropdown buttons
$darkViolet: #96054f; // Large links hover
$grey: #999; // Dimmed text, dimmed content type icons
$lightGrey: #d0d0d0; //Horizontal rules, small avatar outlines
$gray: #f2f2f2; // inputs
$deepSea: #136d68; // Tab 1
$caribbean: #1a7e78; // Tab 2
$elm: #1f968f; // Tab 3
$robinsEgg: #23a49d; // Tab 4
$turquoise: #28ada6; // Tab 5
$blue: #009cef; // Used on blue banner
$link: #009cf2; // Used for links in body text
$code: #f2f2f2; // <pre>
$codeBorder: #c5c5c2; // <pre>
$green: #008000; // borders
$elm: #1f968f; // Green link hover
$spacingDesktop: 20px;
$spacingMobile: 14px;
/**
 *  Layouts
 */
$autolayoutDefaultGutter: 20px;
$maxWidth: 1280px;
$extendBackground: 100 - percentage(1 / 7); // For extended background. Matches .layout-split-2--wrapper
/**
 *  Fonts
 */
$fontRoboto: 'Roboto Condensed Regular';
$fontRegular: 'Source Sans Pro Regular';
