// See _config.variables.scss for font variables
// See _library.mixin.scss for mixins

html {
    color: $black;
    font-family: $fontRegular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-smoothing: antialiased;
    letter-spacing: 0.02em;
    line-height: 23px;
    text-size-adjust: 100%;
}

h1 {
    font-family: $fontRoboto, Helvetica, Arial, sans-serif;
    font-size: 22px;
}

h2 {
    font-family: $fontRoboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

h3 {
    font-family: $fontRoboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.small {
    font-size: 12px;
}

.header-type {
    color: #333;
    font-family: $fontRoboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.standard {
    color: #333;
    font-family: $fontRobotoRegular, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.header-type--small {
    color: $greyMedium;
    font-family: $fontRobotoRegular, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
