body,
html {
    background-color: $bgColor;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    width: 100vw;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

iframe,
img,
object,
svg,
video {
    border: 0;
    max-width: 100%;
}

svg {
    max-height: 100%;
}

figure {
    margin: 0;
    max-width: 100%;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

select {
    appearance: none;
    outline: none;
}

pre {
    background-color: $code;
    border: 1px solid $codeBorder;
    padding: 20px;
    white-space: pre-wrap;
}

footer {
    padding-bottom: 20px;
}
