.season-stats {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__chart {
        height: 100px!important;
        width: 200px!important;
    }
}

.season-direction {
    &--intro {}

    &--team {
        display: none;
    }

    &--competition {
        display: none;
    }

    &--player {
        display: none;
    }
}

.block {




    &__edit {
        cursor: pointer;
        display: none;

        svg {
            height: 10px;
            width: 10px;
        }
    }

    
}

.overview {
    &__chart {
        align-items: center;
        display: flex;
        justify-content: center;

        &-img {
            width: 50%;
        }
    }
}
