.sidebar {
    &__header {
        border-bottom: 1px solid $white;
        padding: 20px;
        color: $white;
    }

    &__nav {
        padding: 20px;

        &-link {
            padding: 10px 0;
            color: $white;
            display: block;
            text-decoration: none;
        }
    }
}
