.header {
    padding: 20px 0;
}

.logo {
    display: block;

    svg {
        height: 40px;
        width: inherit;
    }
}

.avatar {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.body__background {
    background-color: $bgColor;
}

.main__content {
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.35);
}

.team__content {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-text {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        & > * {
            margin-right: 10px;
        }
    }

    & > * {
        margin-right: 10px;
    }
}

.dropdown-menu {
    display: none;
}

.menu__nav {
    display: flex;
    border-bottom: 1px solid #ededed;

    a {
        margin-right: 45px;
    }
}
