.block {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    &__title {
        @extend .header-type;
        border-radius: 7px 7px 0 0;
        color: $white;
        padding: 5px 20px;
        text-align: left;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    &__content {
        background-color: $white;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        padding: 20px;
    }

    &__action {
        display: none;
        float: right;

        svg {
            cursor: pointer;
            height: 15px;
            width: inherit;
        }
    }
    &--modal {
        box-sizing: border-box;
        left: 50%;
        max-height: calc(100% - 100px);
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 51;

        &-overlay {
            background: rgba($black, .3);
            height: 100%;
            left: 0;
            margin: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 50;
        }
    }
    &:hover {
        .block__action {
            display: inline-block;
        }
    }
}

[data-block-color="default"] {
    &.border-top {
        border-top: 10px solid $brandBlack;
    }

    &.sidebar {
        background-color: $brandBlack;
        color: $white;
    }

    .block__title {
        background-color: $brandBlack;
        color: $white;

    }

    &.form__radio-label {
        background-color: $brandBlack;
    }
}

[data-block-color="navyBlue"] {
    &.border-top {
        border-top: 10px solid $navyBlue;
    }

    &[data-toggle-target="colorPicker"] {
        background-color: $navyBlue;
    }

    &.sidebar {
        background-color: $navyBlue;
    }

    .block__title {
        background-color: $navyBlue;
    }

    &.form__radio-label {
        background-color: $navyBlue;
    }
}

[data-block-color="royalBlue"] {
    &.border-top {
        border-top: 10px solid $royalBlue;
    }

    &[data-toggle-target="colorPicker"] {
        background-color: $royalBlue;
    }

    &.sidebar {
        background-color: $royalBlue;
    }

    .block__title {
        background-color: $royalBlue;
    }

    &.form__radio-label {
        background-color: $royalBlue;
    }
}

[data-block-color="paleBlue"] {
    &.border-top {
        border-top: 10px solid $paleBlue;
    }

    &[data-toggle-target="colorPicker"] {
        background-color: $paleBlue;
    }

    &.sidebar {
        background-color: $paleBlue;
    }

    .block__title {
        background-color: $paleBlue;
    }

    &.form__radio-label {
        background-color: $paleBlue;
    }
}

[data-block-color="turqouise"] {
    &.border-top {
        border-top: 10px solid $turqouise;
    }

    &[data-toggle-target="colorPicker"] {
        background-color: $turqouise;
    }

    &.sidebar {
        background-color: $turqouise;
    }

    .block__title {
        background-color: $turqouise;
    }

    &.form__radio-label {
        background-color: $turqouise;
    }
}

[data-block-color="green"] {
    &.border-top {
        border-top: 10px solid $green;
    }

    &[data-toggle-target="colorPicker"] {
        background-color: $green;
    }

    &.sidebar {
        background-color: $green;
    }

    .block__title {
        background-color: $green;
    }

    &.form__radio-label {
        background-color: $green;
    }
}

[data-block-color="darkGrey"] {
    &.border-top {
        border-top: 10px solid $darkGrey;
    }

    &[data-toggle-target="colorPicker"] {
        background-color: $darkGrey;
    }

    &.sidebar {
        background-color: $darkGrey;
    }

    .block__title {
        background-color: $darkGrey;
    }

    &.form__radio-label {
        background-color: $darkGrey;
    }
}

[data-block-color="purple"] {
    &.border-top {
        border-top: 10px solid $purple;
    }

    &[data-toggle-target="colorPicker"] {
        background-color: $purple;
    }

    &.sidebar {
        background-color: $purple;
    }

    .block__title {
        background-color: $purple;
    }

    &.form__radio-label {
        background-color: $purple;
    }
}

[data-block-color="magenta"] {
    &.border-top {
        border-top: 10px solid $magenta;
    }

    &[data-toggle-target="colorPicker"] {
        background-color: $magenta;
    }

    &.sidebar {
        background-color: $magenta;
    }

    .block__title {
        background-color: $magenta;
    }

    &.form__radio-label {
        background-color: $magenta;
    }
}

[data-block-color="red"] {
    &.border-top {
        border-top: 10px solid $red;
    }

    &[data-toggle-target="colorPicker"] {
        background-color: $red;
    }

    &.sidebar {
        background-color: $red;
    }

    .block__title {
        background-color: $red;
    }

    &.form__radio-label {
        background-color: $red;
    }
}

[data-block-color="gold"] {
    &.border-top {
        border-top: 10px solid $gold;
    }

    &[data-toggle-target="colorPicker"] {
        background-color: $gold;
    }

    &.sidebar {
        background-color: $gold;
    }

    .block__title {
        background-color: $gold;
    }

    &.form__radio-label {
        background-color: $gold;
    }
}
