.longform {
    table {
        border-collapse: collapse;
        width: 100%;
    }

    thead {
        border-bottom: 2px solid $lightGrey;
    }

    td {
        padding: 5px;
        width: inherit;
    }

    tr {
        border-bottom: 1px solid $lightGrey;
        height: 45px;
    }

    ol {
        &[type="1"] {
            li {
                list-style: decimal;
            }
        }

        &[type="a"] {
            li {
                list-style: lower-alpha;
            }
        }

        &[type="I"] {
            li {
                list-style: lower-roman;
            }
        }
    }

    ol > ol {
        margin-left: 40px;
    }

    ol > ol > ol {
        margin-left: 40px;
    }

    li {
        list-style: inherit;
    }

    ul > ul {
        margin-left: 40px;
    }

    ul > ul > ul {
        margin-left: 40px;
    }

    input[type="text"] {
        background: $white;
        border: 1px solid $lightGrey;
        width: 100%;
    }

    input[type="text"]:focus {
        border: 1px solid $teal;
    }

    input.error {
        border: 1px solid $violet;
    }

    .error-message {
        color: $violet;
    }

    .form-row {
        align-items: center;
        display: flex;

        label {
            margin-left: 5px;
        }
    }

    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
    }

    .video-wrapper iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .video {
        position: relative;
        &__icon {
            position: absolute;
            width: 80px;
            height: 80px;
            top: 25%;
    }

    }
}
