.user {
    display: flex;
    align-items: center;

    &__avatar {
        display: inline-block;
        margin-right: 10px;
    }

    &__arrow {
        margin-left: 8px;
    }

    &__name {
        vertical-align: middle;
    }

    &__info {
        display: flex;
        flex-direction: column;

        &-bullet {
            align-items: center;
            display: flex;
            flex-direction: row;
        }
    }

    &__date {
        display: block;
    }

    &--inline {
        display: inline-block;
    }

    &--right {
        justify-content: flex-end;
    }
}
