.main {
    background: $white;
    padding: 0 20px;

    &__header {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__date {
        position: relative;

        &-dropdown {
            border: 1px solid $greyMedium;
        }
    }
}
