.header {
    background-color: $brandBlack;
    padding: 10px 0;

    &__button {
        p {
            display: inline-block;
        }
    }
}

.logo {
    display: block;

    img {
        height: 40px;
    }

    &__svg {
        height: 30px;
        width: inherit;

        .inner {
            fill: $white;
        }
    }
}

.avatar {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.avatar-name {
    color: $white;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    background: $white;
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    width: 165px;

    li {
        text-align: left;
        border-bottom: 1px solid $grey;

        &:last-child {
            border-bottom: 1px solid transparent;
        }
    }

    a {
        color: $black;
        display: block;
        padding: 10px 20px;
        text-decoration: none;
    }
}
