.button {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;

    &--primary {
        @extend .button;
        background: $brandGold;
        border: 1px solid $brandGold;
        color: $white;

    }

    &--secondary {
        @extend .button;
        background: $grey;
        border: 1px solid black;
        color: $white;
    }
}
