.list {
    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.pagination {
    &__control {
        text-align: right;

        .list__link:first-child {
            margin-right: 20px;
        }

    }
}
