.button {
    display: inline-block;

    &--primary {
        display: inline-block;
        border-radius: 3px;
        border: 1px solid $violet;
        padding : 10px;

        &.reverse {
            border: 1px solid $white;
        }
    }

}
