.avatar {
    border-radius: 50%;
    height: 39px;
    width: 39px;
    border: 1px solid rgba($black, 1);

    &--small {
        @extend .avatar;
        height: 29px;
        width: 29px;
    }

    &--header {
        @extend .avatar;
        border: 1px solid rgba($white, .35);
    }
}
