.layout-split-2 {
    @include media ('>large') {
        @include autolayout( '|-[column]-[column]-|');
    }
    &--sidebar {
        @include media ('>large') {
            @include autolayout( '|[column(#{percentage(4/12)})]-[column(#{percentage(8/12)})]|');
        }


    }
    &--apart {
        display: flex;
        justify-content: space-between;
    }

    &--wrapper {
        display: flex; // Nav Specific
        @include media ('>large') {
            @include autolayout( '|-30px-[column(#{percentage(5/12)})]-30px-[column(#{percentage(7/12)})]-30px-|');
        }


    }
    &--table{
        @include media ('>large') {
            @include autolayout( '|-15px-[column(#{percentage(4/10)})]-15px-[column(#{percentage(6/10)})]-15px-|');
        }
    }
    &--wrapper-gutterless {
        display: flex; // Nav Specific
        @include media ('>large') {
            @include autolayout( '|[column(#{percentage(5/12)})]-[column(#{percentage(7/12)})]|');
        }


    }



}
// Allows you to apply spacing class to parent div
[class*="layout-split-2"] {
    @include media ('>large') {
        & > .column:nth-child(1),
        & > .column:nth-child(2) {
            margin-top: 0;
        }
    }
}
